@use "./mixins" as *;

:root {
    // COLORS
    --color-primary: #fe4902;
    --color-white: #fff;
    --color-light: #f5f5f5;
    --color-black: #000;
    --color-dark: #333;
    --color-gray: #999;
    --color-dim: #{rgba(#000, 0.75)};

    // RADIUS
    --radius-medium: #{rem-convert(8)};
    --radius-large: #{rem-convert(16)};
    --radius-pill: #{rem-convert(100)};
    --radius-circle: 50%;

    // WEIGHT
    --weight-normal: 400;
    --weight-bold: 600;
}
