@use "styles/helpers" as *;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: rem-convert(4);
    padding: rem-convert(12) rem-convert(16);
    border-radius: var(--radius-pill);
    font-size: rem-convert(20);
    font-weight: var(--weight-bold);

    &:disabled {
        opacity: 0.65;
        cursor: default;
        pointer-events: none;
    }

    &.fullWidth {
        width: 100%;
    }
}

.theme {
    &_primary {
        color: var(--color-light);
        background-color: var(--color-primary);
        @include hover-shadow(var(--color-primary));
    }
}

.size {
    &_large {
        padding: rem-convert(16) rem-convert(24);
        font-size: rem-convert(24);
    }
}
