.wrap {
    text-align: center;
}

.symbol {
    display: grid;
    place-items: center;
    font-size: 100px;
    line-height: normal;

    .active & {
        background-color: red;
    }
}

.store {
    font-size: 20px;
    font-weight: 600;
}

.menu {
    font-size: 16px;
}
