.wrap {
    display: grid;
    place-content: center;
    text-align: center;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    cursor: pointer;

    &:hover {
        color: var(--text-light);
        background-color: var(--secondary);
    }

    &.active {
        color: var(--text-light);
        background-color: var(--primary);
    }
}

.symbol {
    display: grid;
    place-items: center;
    font-size: 100px;
    line-height: normal;
}

.store {
    font-size: 20px;
    font-weight: 600;
}

.menu {
    font-size: 16px;
}
