@use "styles/helpers" as *;

.header {
    padding: rem-convert(8) rem-convert(24) rem-convert(64);
    text-align: center;

    .title {
        color: var(--color-dark);
        font-size: rem-convert(32);
        font-weight: var(--weight-bold);
        margin-bottom: rem-convert(8);
    }

    .sub_title {
        color: var(--color-gray);
    }
}

.body {
    .menu_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem-convert(20) rem-convert(13.5);
        padding: 0 rem-convert(24) rem-convert(64);
        margin: 0 auto;
    }

    .message {
        padding-bottom: rem-convert(20);
        font-weight: var(--weight-bold);
        text-align: center;
    }
}

.footer {
    position: sticky;
    bottom: 0;
    display: grid;
    justify-items: center;
    width: 100%;

    &::before {
        display: block;
        width: 100%;
        height: rem-convert(34);
        background: linear-gradient(
            180deg,
            transparent 0%,
            var(--color-white) 100%
        );
        content: "";
    }

    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: rem-convert(16);
        background-color: var(--color-white);
    }
}

.select_menu_list {
    display: flex;

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem-convert(32);
        height: rem-convert(32);
        padding: rem-convert(4);
        margin-left: rem-convert(-8);
        color: var(--color-dark);
        background-color: var(--color-light);
        border: rem-convert(2) solid var(--color-primary);
        border-radius: var(--radius-circle);
        font-size: rem-convert(16);
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--color-light);
        background-color: var(--color-dim);
        border-radius: var(--radius-circle);
        font-size: rem-convert(12);
    }
}
