.header {
    padding: 8px 24px 64px;
    text-align: center;

    .title {
        color: var(--text-black);
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .sub_title {
        color: var(--text-gray);
    }
}

.body {
    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 13.5px;
        padding: 0 24px 64px;
        max-width: 768px;
        margin: 0 auto;
    }

    .message {
        padding-bottom: 20px;
        font-weight: 600;
        text-align: center;
    }
}

.footer {
    position: sticky;
    bottom: 0;
    display: grid;
    justify-items: center;
    width: 100%;

    &::before {
        display: block;
        width: 100%;
        height: 34px;
        background: linear-gradient(180deg, rgba(var(--white), 0) 0%, var(--white) 100%);
        content: "";
    }

    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 16px;
        background-color: var(--white);
    }
}

.select{
    &_list {
        display: flex;
    }

    &_item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        padding: 4px;
        margin-left: -8px;
        color: var(--text-black);
        background-color: rgba(255, 255, 255, 0.9);
        border: 2px solid var(--primary);
        border-radius: 50%;
        font-size: 16px;
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--text-light);
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        font-size: 12px;
    }
}
