html {
    font-size: clamp(12px, 4vw, 16px);
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.tossface {
    font-family: Tossface;
}

.wrap {
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
}
